image boot.vfat {
    vfat {
        files = {
            "zImage",
            "rk3036-evb.dtb",
            "boot.scr"
        }
    }
    # 96M 为兼顾 Actions 磁盘限制与长期稳定性的最优值
    size = 96M
}

image sdcard.img {
    hdimage {}

    partition idbloader {
        in-partition-table = "no"
        image = "idbloader.img"
        offset = 32K
    }

    partition uboot {
        in-partition-table = "no"
        image = "u-boot.itb"
        offset = 8M
    }

    partition boot {
        partition-type = 0xC
        bootable = "true"
        image = "boot.vfat"
    }

    partition rootfs {
        partition-type = 0x83
        image = "rootfs.ext4"
    }
}